.body {
        font-family: "Source Code Pro";
        margin: 10%; 
    }
    .reveal h1 {
        font-family: "Source Code Pro";
        padding-top: 30px;
        font-style: italic;
        font-size: 5rem;
    }
    .reveal h2 {
        font-family: "Source Code Pro";
        font-style: italic;
        font-size: 3.5rem;
    }
    .reveal h5 {
        font-family: "Source Code Pro";
        font-style: italic;
        text-decoration: underline;
        font-size: 2.5rem;
    }
    p {
        font-family: "Source Code Pro";
        font-size: 1.5rem;
        font-style: bold;
    }
    li {
        font-family: "Source Code Pro";
        font-size: 2rem;
        font-style: italic;
    }

  .subtitle  {
      font-family: "Source Code Pro";
      font-style: italic;
    padding-top: 35px;
      font-size: 2.5rem;
  }

.subsubtitle  {
    font-family: "Source Code Pro";
    font-size: 2.0rem;
    text-transform: uppercase;
}

.slide-header {
    font-family: "Source Code Pro";
    font-weight: 400;
    font-size: 1.5rem;
    text-transform: uppercase;
    padding-bottom: 15px;
    margin-bottom: 100px;
    border-bottom: 2px solid #657b83;
}
    .author  {
        font-family: "Source Code Pro";
        font-size: 2.5rem;
    }
    .columnimg {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
    }
    .wrapper {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
    }
    .ul {
    background-color: #62BBC1;
        border-radius: 10px;
    }
    .column {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: vertical;
    }
    .img_naef{
        width: 60%;
    }
    .imgtable57{
        width: 70%;
    }
    .imgGR{
        width: 60%;
    }
    .img_hettich{
        width: 1000px;
    }
    .img_messer, .img_waxilit, .img_hettich{
        width: 300px;
    }
    .img {
        border-radius: 10px;
        width: 700px;
    }
    .columntxt {
        margin: 20px;
        padding: 30px;
        background-color: #1E2A2B;
        border-radius: 10px;
    }
    td, th {
      border: 1px solid #999;
      padding: 0.5rem;
      text-align: left;
    }

    tr {
      font-family: "Source Code Pro";
      font-size: 1.5rem;
    }
    td {
      font-family: "Source Code Pro";
      font-size: 1.5rem;
    }
